<html>
<head>
<title>ReDI School</title>
<link rel="shortcut icon" href="https://static.wixstatic.com/media/206b5b_f0426eb856b84d2ca3a4385ca53ed7f4%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/206b5b_f0426eb856b84d2ca3a4385ca53ed7f4%7Emv2.png" type="image/png">
<link rel="stylesheet" type="text/css" href="{{css_link}}"/>
</head>
<body>
<img src="https://static.wixstatic.com/media/206b5b_3acb677d4d854283882bf7c10d6b4f92~mv2.png/v1/crop/x_5,y_0,w_295,h_61/fill/w_248,h_50,al_c,q_85,usm_0.66_1.00_0.01/206b5b_3acb677d4d854283882bf7c10d6b4f92~mv2.webp"/>
<center><font size='+5' color='#38ACEC'>{{title}}</font></center>
<center><font size='+2' color='blue'>Intro to Network</font></center>
<hr>Welcome to <strong>Intro to Network Class</strong>. Opening doors to new opportunities. Mind Wide Open.
<br/><br/><br/><br/>
<p>Today we will talke about Numeric and IP :) </p>
</body>
</html>